/* Sun Rotate Style */

#sun, #sun2 {
	border: 2px solid black;
	border-radius: 50%;
	clip-path: circle(50% at center);
	animation: 15s linear infinite sunOrbit;
}

@keyframes sunOrbit {
	from {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(-405deg)
	}
}

#right, #left {
	position: absolute;
	height: 100%;
	width: 50%;
	display: inline-block;
}

#right {
	background-color: var(--light-blue);
	border-right: 2px solid black;
	left: 0;
}

#left {
	background-color: var(--king-blue);
}